@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    color: #2F5596;
}

body, html {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/* headings and logo */

h1, h2 {
    font-family: "Cabin", sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #0b2838;
}

#logo {
    float: left;
    font-size: 280%;
    color: #2F5596;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu li {
    
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: #2F5596;
}

.active {
    border-bottom: 1px solid #8c0e0f;
}

/* hero-image-home */

#hero-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image-home {
    height: 100%;
    width: 100%;
    background: url('../images/skyscrapers-1081737_1920.jpg');
      /* Create parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* text over image */

#cover-headlines-outer {
    width: 620px;
    height: 210px;
    border: 3px solid #8c0e0f;
    background-color: rgba(221, 226, 198, 0.5);
    border-radius: 25px;
    position: absolute;
    top: 25%;
    left: 25%;
}

#cover-headlines {

    font-size: 160%;
    font-family: "Cabin", sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 600px;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
}

/* main paragraphs on index.html */

#text-container {
    margin: 0 auto;
    width: 66.66%;
    padding-top: 75px;
    padding-bottom: 75px;
}

#text-container > h2 {
    margin-top: 20px;
    text-transform: none;
    text-align: center;
    color: #0b2838;
    font-weight: 600;
    line-height: 1.4em;
}

#text-container > h3 {
    margin-top: 20px;
    text-transform: none;
    text-align: center;
    color: #0b2838;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.4em;
}

/* about-us boxes on index.html */

#about-us {
    width: 100%;
    height: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#centre-text {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

i.fas {
    line-height: 100px;
}

#left-box {
    width: 33.33%;
    float: left;
    background-color: #0b2838;
    height: 375px;
}

#left-box > h3 {
    font-size: 120%;
    font-weight: 600;
    line-height: 75px;
}

#left-box > p {
    margin-top: 25px;
    font-size: 18px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

#right-box {
    width: 33.33%;
    float: right;
    background-color: #0b2838;
    height: 375px;
}

#right-box > h3 {
    font-size: 120%;
    font-weight: 600;
    line-height: 75px;
}

#right-box > p {
    margin-top: 25px;
    font-size: 18px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

#centre-box {
    width: 33.33%;
    background-color: #2F5596;
    height: 375px;
}

#centre-box > h3 {
    font-size: 120%;
    font-weight: 600;
    line-height: 75px;
}

#centre-box > p {
    margin-top: 25px;
    font-size: 18px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
/* section-title on index.html */

#section-title {
    width: 100%;
    margin-top: 37.5px;
    margin-bottom: 37.5px;
    text-align: center;
    font-size: 180%;
    font-family: "Raleway", sans-serif;
    color:  #8c0e0f;
}

/* past-projects gallery on index.html */

div.gallery {
    border: 1px solid #9F886B;
  }
  
  div.gallery:hover {
    border: 1px solid #0B2838;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 18px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
    

/* testimonials boxes on index.html */

#testimonials {
    width: 100%;
    height: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#testimonials > #left-box > h3 {
    font-size: 80%;
    font-weight: 600;
    line-height: 55px;
}

#testimonials > #left-box > h4 {
    font-size: 80%;
    font-weight: 400;
}

#testimonials > #centre-box > h3 {
    font-size: 80%;
    font-weight: 600;
    line-height: 55px;
}

#testimonials > #centre-box > h4 {
    font-size: 80%;
    font-weight: 400;
}

#testimonials > #right-box > h3 {
    font-size: 80%;
    font-weight: 600;
    line-height: 55px;
}

#testimonials > #right-box > h4 {
    font-size: 80%;
    font-weight: 400;
}

#circle-container {
    width: 150px;
    height: 150px;
    padding: 11.5px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg-left {
    background: url('../images/David_Snowden.jpeg');
    width: 125px;
    height:125px;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

#circle-cover-bg-centre {
    background: url('../images/Lynne_Greenfeather.jpeg');
    width: 125px;
    height: 125px;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

#circle-cover-bg-right {
    background: url('../images/Jens_Pfeiffer.jpeg');
    width: 125px;
    height: 125px;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

/* footer info boxes */

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #fff;
  }

#infobox-content-1 {
    font-size: 25px;
    display: flex;
    float: left;
    justify-content: center;
    padding-left: 80px;
    word-spacing: 20px;
    width: 50%;
}

.title-left {
    color: #2F5596;
    text-decoration: none;
    font-family: "Cabin", Sans-serif;
    font-size: 85%;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 30px;
    margin: 20px 0px 5px 0px;
    border-bottom: 1px solid #8c0e0f
}

#infobox-content-2 {
    font-size: 25px;
    display: flex;
    float: right;
    justify-content: center;
    padding-right: 80px;
    word-spacing: 20px;
    width: 50%;
}

.title-right {
    color: #2F5596;
    text-decoration: none;
    font-family: "Cabin", Sans-serif;
    font-size: 85%;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 30px;
    margin: 20px 0px 5px 0px;
    border-bottom: 1px solid #8c0e0f
}

#social-media-icons {
    color: #2F5596;
    font-size: 25px;
    display: flex;
    float: right;
    justify-content: space-evenly;
    padding-right:80px;
    word-spacing:20px;
    width: 50%;
}

.fab:hover {
    color: #0b2838;
}

#contact-info {
    color: #2F5596;
    font-family: "Raleway", sans-serif;
    font-size: 110%;
    display: flex;
    float: left;
    justify-content: center;
    padding-left: 40px;
    width: 50%;
}


 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
} 