@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    color: #2F5596;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    border-top: 3px solid #2F5596;
}

/* headings and logo */

h1,
h2 {
    font-family: "Cabin", sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #0b2838;
}

#logo {
    float: left;
    font-size: 280%;
    color: #2F5596;
    padding-left: 10px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu li {

    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: #2F5596;
}

.active {
    border-bottom: 1px solid #8c0e0f;
}

/* hero-image-home */

.hero-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image-home {
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    background: url('../images/skyscrapers-1081737_1920.jpg');
    /* Create parallax scrolling effect */
    /* Parallax scrolling code from W3Schools https://www.w3schools.com/howto/howto_css_parallax.asp */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* text over image */

.cover-headlines-outer {
    width: 620px;
    height: 210px;
    border: 3px solid #8c0e0f;
    background-color: #e6eed6;
    border-radius: 25px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.cover-headlines {

    font-size: 160%;
    font-family: "Cabin", sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 600px;
    height: 200px;
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* main paragraphs on index.html */

.text-container {
    margin: 0 auto;
    width: 66.66%;
    padding-top: 50px;
    padding-bottom: 25px;
}

.text-container>h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: none;
    text-align: center;
    color: #0b2838;
    font-weight: 600;
    line-height: 2em;
}

.text-container>p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: none;
    text-align: center;
    color: #2F5596;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.4em;
}

/* section-title on index.html */

.section-title>h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
    color: #8c0e0f;
    line-height: 1.4em;
    font-size: 200%;
    font-weight: 700;
}

/* about-us boxes on index.html */

#about-us {
    width: 80%;
    height: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;
}

#centre-text {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

i.fas {
    line-height: 100px;
}

#left-box {
    width: 33.33%;
    float: left;
    background-color: #0b2838;
    height: 375px;
    margin: 5px;
}

#left-box>h3 {
    font-size: 160%;
    font-weight: 600;
    line-height: 75px;
}

#left-box>p {
    margin: 20px;
    font-size: 18px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

#right-box {
    width: 33.33%;
    float: right;
    background-color: #0b2838;
    height: 375px;
    margin: 5px;
}

#right-box>h3 {
    font-size: 160%;
    font-weight: 600;
    line-height: 75px;
}

#right-box>p {
    margin: 20px;
    font-size: 18px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

#centre-box {
    width: 33.33%;
    background-color: #2F5596;
    height: 375px;
    margin: 5px;
}

#centre-box>h3 {
    font-size: 160%;
    font-weight: 600;
    line-height: 75px;
}

#centre-box>p {
    margin: 20px;
    font-size: 18px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

/* past-projects gallery on index.html */

div.gallery {
    border: 1px solid #9F886B;
}

div.gallery:hover {
    border: 1px solid #0B2838;
}

div.gallery img {
    width: 100%;
    height: auto;
    padding: 5px;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #2F5596;
}


.responsive {
    display: flex;
    flex-wrap: wrap;
    padding: 5px, 5px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* testimonials boxes on index.html */

#testimonials {
    width: 80%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;
}

#left-box-testimonial {
    width: 33.33%;
    float: left;
    background-color: #0b2838;
    height: 375px;
    margin: 5px;
}

#left-box-testimonial>h3 {
    font-size: 80%;
    font-weight: 600;
    line-height: 55px;
}

#left-box-testimonial>h4 {
    font-size: 80%;
    font-weight: 400;
}

#centre-box-testimonial {
    width: 33.33%;
    background-color: #2F5596;
    height: 375px;
    margin: 5px;
}

#centre-box-testimonial>h3 {
    font-size: 80%;
    font-weight: 600;
    line-height: 55px;
}

#centre-box-testimonial>h4 {
    font-size: 80%;
    font-weight: 400;
}

#right-box-testimonial {
    width: 33.33%;
    float: right;
    background-color: #0b2838;
    height: 375px;
    margin: 5px;
}

#right-box-testimonial>h3 {
    font-size: 80%;
    font-weight: 600;
    line-height: 55px;
}

#right-box-testimonial>h4 {
    font-size: 80%;
    font-weight: 400;
}

.circle-container {
    width: 150px;
    height: 150px;
    padding: 11.5px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg-left {
    background: url('../images/david_snowden.jpeg');
    width: 125px;
    height: 125px;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

#circle-cover-bg-centre {
    background: url('../images/lynne_greenfeather.jpeg');
    width: 125px;
    height: 125px;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

#circle-cover-bg-right {
    background: url('../images/jens_pfeiffer.jpeg');
    width: 125px;
    height: 125px;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

/* footer info boxes */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #fff;
}

.infobox-content-1 {
    font-size: 25px;
    display: flex;
    float: left;
    justify-content: center;
    padding-left: 80px;
    word-spacing: 20px;
    width: 50%;
}

.title-left {
    color: #2F5596;
    text-decoration: none;
    font-family: "Cabin", Sans-serif;
    font-size: 85%;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 30px;
    margin: 20px 0px 5px 0px;
    border-bottom: 1px solid #8c0e0f
}

.infobox-content-2 {
    font-size: 25px;
    display: flex;
    float: right;
    justify-content: center;
    padding-right: 80px;
    word-spacing: 20px;
    width: 50%;
}

.title-right {
    color: #2F5596;
    text-decoration: none;
    font-family: "Cabin", Sans-serif;
    font-size: 85%;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 30px;
    margin: 20px 0px 5px 0px;
    border-bottom: 1px solid #8c0e0f
}

.social-media-icons {
    color: #2F5596;
    font-size: 25px;
    display: flex;
    float: right;
    justify-content: space-evenly;
    padding-right: 80px;
    word-spacing: 20px;
    width: 50%;
}

.fab:hover {
    color: #0b2838;
}

.contact-info {
    color: #2F5596;
    font-family: "Raleway", sans-serif;
    font-size: 110%;
    display: flex;
    float: left;
    justify-content: center;
    padding-left: 40px;
    width: 50%;
}

/* Code for Back to top button */
/* This snippet of code was copied as a whole from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
    display: none;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(224, 184, 192, 0.6);
    color: rgba(0, 20, 20, 0.6);
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #8c0e0f;
    color: white;
}



/* planning.html */

#plan-hero-image-home {
    height: 100vh;
    width: 100vw;
    background: url('../images/pexels-laura-tancredi-7078691.jpg');
    /* Create parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.headlines-h2 {
    text-transform: none;
    font-size: 120%;
}

.plan-text-container {
    margin: 0 auto;
    margin-bottom: 120px;
    width: 66.66%;
    height: auto;
    padding-top: 50px;
}

.plan-text-container>h2 {
    margin-top: 20px;
    text-transform: none;
    text-align: center;
    color: #8c0e0f;
    font-weight: 600;
    line-height: 1.4em;
    font-size: 180%;
    font-weight: 700;
}

.plan-text-container>p {
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: none;
    text-align: center;
    color: #2F5596;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.2em;
}

.list-container {
    width: 250px;
    height: 130px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 25px;
    background-color: rgba(221, 226, 198, 0.5);
    border: 3px solid #8c0e0f;
    border-radius: 25px;
    box-shadow: 10px 5px 5px #0b2838;
}

.list {
    color: #2F5596;
    text-align: center;
}


/* tactics.html */

#tactics-hero-image-home {
    height: 100%;
    width: 100%;
    background: url('../images/pexels-sevenstorm-juhaszimrus-1603288.jpg');
    /* Create parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tactics-text-container {
    margin: 0 auto;
    margin-bottom: 120px;
    width: 66.66%;
    height: auto;
    padding-top: 50px;
}

.tactics-text-container>h2 {
    margin-top: 20px;
    text-transform: none;
    text-align: center;
    color: #8c0e0f;
    font-weight: 600;
    line-height: 1.4em;
    font-size: 180%;
    font-weight: 700;
}

.tactics-text-container>p {
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: none;
    text-align: center;
    color: #2F5596;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.2em;
}

.tactics-table-container {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgba(221, 226, 198, 0.5);
    border: 3px solid #8c0e0f;
    border-radius: 25px;
    box-shadow: 10px 5px 5px #0b2838;
    margin-top: 10px;
    margin-bottom: 90px;
}

.tactics-table-container>h2 {
    text-align: center;
    color: #8c0e0f;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgba(221, 226, 198, 0.5);
    font-size: 180%;
    font-weight: 700;
}

.tactics-table-5cols {
    font-family: "Raleway", sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.Rtable-cell {
    box-sizing: border-box;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: none;
    font-family: "Raleway", sans-serif;
}

.Rtable-cell>h3 {
    margin: 0;
    border-bottom: 1px solid #8c0e0f;
}

.tactics-table-5cols>.Rtable-cell {
    width: 20%;
}


/* contact.html */

.contact-page-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: left;
}

.contact-left-side {
    padding-top: 50px;
    padding-left: 100px;
    background-color: #0b2838;
    width: 50%;
    float: left;
}

.contact-right-side {
    padding-top: 50px;
    padding-right: 50px;
    background-color: #0b2838;
    width: 50%;
    float: left;
}

.form-title {
    padding: 50px;
}

.form-title>h2 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.form-title>h4 {
    color: #9F886B;
    font: "Raleway", sans-serif;
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    color: #9F886B;
    font-size: 20px;
}

input[type=submit] {
    background-color: rgba(224, 184, 192, 0.6);
    color: #0B2838;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #8c0e0f;
    color: white;
}

.container {
    border-radius: 5px;
    background-color: #0b2838;
    padding: 50px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1025px) {
    #hero-image-home, #plan-hero-image-home, #tactics-hero-image-home {
        background-attachment: scroll;
    }
}

/* Responsive layout @media queries max-width 599px */

@media screen and (max-width: 599px) {

    #menu {
        text-align: center;
    }

    .cover-headlines-outer {
        width: 254px;
        height: 107px;
    }

    .cover-headlines {
        font-size: 80%;
        width: 234px;
        height: 114px;
    }

    /* footer info boxes - decrease font size and padding for smaller screen sizes */

    .footer {
        height: auto;
        padding-bottom: 10px;
    }

    .infobox-content-1 {
        font-size: 20px;
        padding-left: 10px;
    }

    .title-left {
        line-height: 20px;
        margin: 10px 0px 5px 0px;
    }

    .infobox-content-2 {
        font-size: 20px;
        padding-right: 10px;
        word-spacing: 20px;
        width: 50%;
    }

    .title-right {
        line-height: 20px;
        margin: 10px 0px 5px 0px;
    }

    .social-media-icons {
        font-size: 20px;
        padding-right: 20px;
    }

    .contact-info {
        font-size: 90%;
        padding-left: 20px;
    }

    /*Tactics.html - when the screen is less than 600px wide the table rows display as a column and the table headings are hidden */

    th {
        display: none;
    }

    td {
        display: block;
    }
}

/* Responsive layout @media queries max-width 1025px */

@media screen and (max-width: 1025px) {

    /* Tactics.html - remove padding inbetween table cells to fit the data into the table */

    .Rtable-cell {
        padding: 0.6em;
    }

    /* about-us boxes on index.html - when the screen is less than 1025px wide, make the three boxes stack on top of each other instead of next to each other */
    #about-us {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #centre-text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }

    #left-box {
        width: 100%;
        height: 450px;
        margin-bottom: 50px;
    }

    #right-box {
        width: 100%;
        height: 450px;
    }

    #centre-box {
        width: 100%;
        height: 450px;
        margin-bottom: 50px;
        clear: both;
    }

    /* testimonials boxes on index.html - when the screen is less than 1025px wide, make the three boxes stack on top of each other instead of next to each other */

    #testimonials {
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    #left-box-testimonial {
        width: 100%;
        height: 420px;
    }

    #centre-box-testimonial {
        width: 100%;
        height: 375px;
        margin: 5px;
    }

    #right-box-testimonial {
        width: 100%;
        height: 420px;
        margin-bottom: 30px;
    }

    /* Contact.html - when the screen is less than 1025px wide, make the two columns stack on top of each other instead of next to each other */
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .contact-page-outer {
        height: auto;
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    .contact-left-side {
        width: 100%;
        height: auto;
        padding: 10px;
        float: none;
    }

    .contact-right-side {
        width: 100%;
        height: auto;
        float: none;
        margin-bottom: 50px;
    }

    .form-title {
        text-align: left;
        padding: 0;
    }

    input[type=text],
    select,
    textarea {
        font-size: 14px;
    }
}