@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cabin, sans-serif;
    font-weight: 500;
    color: #083248;
}

/* headings and logo */

h1, h2 {
    font-family: Cabin, sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #8c0e0f;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu li {
    
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: #8c0e0f;
}

/* hero-image-home */

#hero-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image-home {
    height: 600px;
    width: 100%;
    background: url('../images/skyscrapers-1081737_1920.jpg') no-repeat center center;
}

/* text over image */

#cover-headlines {

    font-size: 130%;
    font-family: Cabin, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;

    width: 600px;
    height: 200px;

    position: absolute;
    top: 33.3%;
    left: 33.3%;
}

#cover-headlines-subtitle {

    font-size: 130%;
    font-family: Cabin, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;

    width: 600px;
    height: 200px;

    position: absolute;
    top: 66.6%;
    left: 33.3%;
}